@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.row-fluid [class*="span"] {
	margin:0px;
}

.comment-message {
	height:100px;
}