@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.row-fluid [class*="span"] {
	margin:0px;
}

.comment-message {
	height:100px;
}

#error_explanation ul {
 	margin: 0 0 5px;
	li {
    color:red;
		list-style-type: none;
	}
}

.field_with_errors input {
  border:1px solid rgb(216, 92, 92);
}